<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.itheima.mapper.FruitMapper">
    <resultMap id="fruitResultMap" type="fruit">
        <result property="fruitName" column="fruit_name" />
        <result property="fruitQuantity" column="fruit_quantity" />
        <result property="originalPlace" column="original_place" />
    </resultMap>
    <delete id="deleteByIds">
        delete from fruit_data where id in
                               <foreach collection="ids" item="id" separator="," open="(" close=")">
                                   #{id}
                               </foreach>
    </delete>
    <select id="selectByPageAndCondition" resultMap="fruitResultMap">
        select * from fruit_data
            <where>
                <if test="fruit.fruitName != null and fruit.fruitName != '' ">
                    and fruit_name like #{fruit.fruitName}
                </if>
                <if test="fruit.supplier != null and fruit.supplier != '' ">
                    and supplier like #{fruit.supplier}
                </if>
            </where>
            limit #{begin},#{size}
    </select>
    <select id="selectTotalCountByCondition" resultType="java.lang.Integer">
        select count(*) from fruit_data
            <where>
                <if test="fruitName != null and fruitName != '' ">
                    and fruit_name like #{fruitName}
                </if>
                <if test="supplier != null and supplier != '' ">
                    and supplier like #{supplier}
                </if>
            </where>
    </select>

</mapper>